<div class="container">

  <% @cars.each do |car| %>
    <%= link_to car_path(car) do%>
      <div class="card">
        <h1><%=  car.brand %></h1>
        <h3><%= car.model  %></h3>
        <p><%= car.created_at.strftime('%e %b %Y %H:%M:%S%p') %></p>
        <%= image_tag(car.image_url) %>
        <%= link_to  cars_path(car) do%>
        <div class="footer">
          <div class="d-flex align-items-center">
            <i class="fa-regular fa-comment"></i>
            <span> Comment</span>
          </div>
        <% end %>
          <div class="owner">
            <p><%= car.owner.nickname %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>


</div>
<%= link_to 'My Garage', favourites_path %>
